<mat-card>
  <mat-card-content>
    <div class="grid-container">
      <div class="grid-item item1">
        <h1> History. </h1>
        <span> How did it all started? </span>
        <p>Batch processing has a long history, dating back to early mainframe systems. The need to process large volumes of data in an automated, parallel, scheduled manner without human intervention was always there.</p>
        <ol>
          <li><strong>1980s Stored procedures.</strong></li>
          <p> Stored procedures were among the early tools used for encapsulating and executing complex data processing tasks within the database. They laid the groundwork for many batch processing concepts, influencing the development of more flexible and comprehensive frameworks like Spring Batch that operate at the application layer.</p>
          <li><strong>1990s Evolution to Modern Batch Processing.</strong></li>
          <p> With the rise of Java in the late 1990s and early 2000s, there was a shift towards using Java for enterprise applications. Java offered platform independence, robustness, and a rich set of libraries, making it an ideal choice for large-scale enterprise solutions. However, there was a need for a robust framework specifically designed for batch processing in Java.</p>
          <li><strong>2008 Spring Batch</strong></li>
          <p><a class="dark-link" target="_blank" href="https://newsroom.accenture.com/news/2008/accenture-and-springsource-team-to-deliver-production-version-open-source-framework-for-batch-processing">Accenture and SpringSource Team</a> to Deliver Production Version of Open Source Framework for Batch Processing</p>
        </ol>
        <br/>
      </div>
      <div class="grid-item item2">
        <img class="image-decoration" src='/images/florida.png'>
      </div>
    </div>
  </mat-card-content>
</mat-card>
