<mat-card>
  <mat-card-content>
    <div class="centered">
      <span class="text-container" > DEMO STARTING IN: </span>
      <div style="height: 3em;"> </div>
      <span class="text-container">
        <strong style="font-weight: 10;">
          {{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s
        </strong>
      </span>
    </div>
    <img
      [style.transform]="scale"
      [style.top.px]="positionTop"
      [style.left.px]="positionLeft"
      src="/images/dom_ghaiti.png"
      (click)="randomZoomAndMove()"
    />
  </mat-card-content>
</mat-card>
