<mat-card>
  <mat-card-content>
    <h1> Purpose & Use. </h1>
    <div class="grid-container">
      <div class="grid-item item1">
        <span> Where are Batchjobs used? </span>
        <p>This is a private opinion, but batch jobs are the intellectual core of financial organizations and banks. It is batch jobs that pay your salary, process your card or internet transactions, and track your parcels<sup>*</sup>.</p>
        <ol>
          <li><strong>Migration and ETL</strong></li>
          <p> Migrate millions of relational records in individual transactions. Imagine use case when you need migrate hundreds of thousands clients and millions of their associated transactions carefully processing and saving each individually.</p>
          <li><strong>Data Processing.</strong></li>
          <p> Card or Internet payments processing that accounts and reconciliates millions of Authorizations Clearings and Settlements. Bank salary programs, stock dividends calculation and payouts.</p>
          <li><strong>Anything tha involves billions of decimals, BigDecimals.</strong></li>
          <p> Some even use it for satellite image processing.</p>
        </ol>
        <p><sup>* Not sure about parcels but seem to be nice use case.</sup></p>
      </div>
      <div class="grid-item item2">
      </div>
    </div>
  </mat-card-content>
</mat-card>
