<mat-card>
  <mat-card-content>
    <div class="grid-container">
      <div class="grid-item item1">
        <h1> Introduction. </h1>
        <span> Welcome to Spring Batch Knowledge sharing!</span>
        <br/><br/>
        <span>
          Spring Batch is an amazing tool built on Java and takes advantage of its multithreading and memory management to efficiently process large amounts of data.
          As part of the Spring ecosystem, it integrates smoothly with projects like Spring Data, Spring Integration and Spring Boot, making it more powerful and easier to use.
        </span>
        <br/><br/>
        <strong>Key features of the framework are:</strong>
        <ul>
          <li>Robust Batch Processing Framework.</li>
          <li>Scalable and Performant.</li>
          <li>Easy to Use. (Spring mindset).</li>
          <li>Transaction Management.</li>
          <li>Retry and Skip Logic.</li>
          <li>Monitoring and Management.</li>
          <li>Extensibility and integrations.</li>
          <li>Brought Data Source support.</li>
        </ul>
        <strong>I have great confidence in this tool and truly love using it.</strong>
      </div>
      <div class="grid-item item2">
        <img class="image-decoration" src='/images/india.png'>
      </div>
    </div>
  </mat-card-content>
</mat-card>
