<mat-card>
  <mat-card-content>
    <div class="grid-container">
      <div class="grid-item item1">
      <h1> Introduction. </h1>
        <span> Welcome to Spring Batch Knowledge sharing! <br/> Ultimate technology for Efficient Data Processing!</span>
        <ol>
          <li><strong> Java and Spring Ecosystem. </strong></li>
          <p> Spring Batch is built on Java, utilizing its features for multithreading and efficient memory management. As part of the Spring ecosystem, Spring Batch seamlessly integrates with other Spring projects like Spring Data, Spring Integration, and Spring Boot, enhancing its capabilities and ease of use.</p>
          <li> <strong> Key features: </strong></li>
          <ul>
            <li>Robust Batch Processing Framework.</li>
            <li>Scalability and Performance.</li>
            <li>Ease of Use. (Spring mindset).</li>
            <li>Transaction Management.</li>
            <li>Chunk Processing.</li>
            <li>Retry and Skip Logic.</li>
            <li>Monitoring and Management.</li>
            <li>Extensibility and integrations.</li>
            <li>Various Data Sources.</li>
          </ul>
          <p> </p>
          <li><strong>I have great confidence in this tool and truly love using it.</strong></li>
        </ol>
        <br/>
      </div>
      <div class="grid-item item2">
        <img class="image-decoration" src='/images/india.png'>
      </div>
    </div>
  </mat-card-content>
</mat-card>
