.scrollContainer {
  position: fixed;
  overflow-x: scroll;
  width: 90%;
  white-space: nowrap;
  height: 90vh;
}

img {
  height: 100%;
  display: block;
  max-width: none;
}

.scrollContainer::-webkit-scrollbar {
  height: 8px;
  background-color: #000000;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 157, 255, 0.5);
  border-radius: 5px;
}
