body {
  background: black;
  color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.8px;
  font-weight: 200;
}

h1, strong {
  font-weight: 200;
}

mat-card {
  height: 36em;
  min-width: 1200px;
  font-size: 1.5em;
  line-height: 2rem;
  font-weight: 200;
}

mat-card-content {
  max-width: 90%;
  min-height: 25em;
}

mat-card-content, mat-card-title {
  margin-left: 2em;
  display: inline-block;
}

.grid-container {
  display: flex;
  width: 100%;
  .item1 {
    flex: 0 0 66%;
  }
  .item2 {
    flex: 0 0 34%;
  }
}

.grid-item {
  padding: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-link:link { color: lightblue; }
.dark-link:visited { color: deepskyblue; }
.dark-link:hover { color: white; }
.dark-link:active { color: lightskyblue; text-decoration:none; font-weight:normal; }
