<splide #splideComponent
        [options]="{
            direction: 'ttb',
            height:'100vh',
            arrows: false,
            keyboard: 'global',
            wheel: true,
            wheelSleep: 350,
            wheelMinThreshold: 20
        }">
  <splide-slide>
    <app-intro></app-intro>
  </splide-slide>
  <splide-slide>
    <app-history></app-history>
  </splide-slide>
  <splide-slide>
    <app-use-cases></app-use-cases>
  </splide-slide>
  <splide-slide>
    <app-architecture></app-architecture>
  </splide-slide>
  <splide-slide>
    <app-data-flow></app-data-flow>
  </splide-slide>
  <splide-slide>
    <app-scaling></app-scaling>
  </splide-slide>
  <splide-slide>
    <app-integrations></app-integrations>
  </splide-slide>
  <splide-slide>
    <app-classic-setup></app-classic-setup>
  </splide-slide>
  <splide-slide>
    <app-implementation></app-implementation>
  </splide-slide>
  <splide-slide>
    <app-benefits></app-benefits>
  </splide-slide>
</splide>
