<splide #splideComponent
        [options]="{
            direction: 'ttb',
            height:'100vh',
            arrows: false,
            keyboard: 'global',
            wheel: true,
            wheelSleep: 300,
            wheelMinThreshold: 20
        }">
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
  <splide-slide>
    Slide 1
  </splide-slide>
</splide>
